body {
  font-family: Arial, Sans-sheriff;
}
.title {
  height: 10vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background: blue;
}
.box1 {
  display: flex;
  background: black;
  color: white;
  left: 5vw;
  margin-top: 5vh;
  border-radius:10px
}
.box2 {
  display: flex;
  background: black;
  color: white;
  left: 35vw;
  margin-top: 5vh;
  border-radius:10px
}
